html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display:block;
}

body{
  animation: hueR 1s infinite linear;
}
@keyframes hueR {
  0%{backdrop-filter: hue-rotate(0);}
  100%{backdrop-filter: hue-rotate(360deg);}
}